{% for item in site.data.bibliography %}
{% if item.selected %}
{% unless site.other_publications %}
{% include bib-row.liquid %}
{% endunless %}
{% else %}
{% include bib-row.liquid %}
<p></p>
{% endif %}
{% endfor %}