---
---

@import "{{ site.theme }}";

img {
  border-radius: 5%;
}

.wrapper {
  width:1500px;
  margin:100px auto;
}

section {
  width:750px;
  float:right;
  padding-bottom:50px;
}

header {
  width:380px;
  float: left;
}

