<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/academicons/css/academicons.min.css" rel="stylesheet">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header id="header-content">
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        
        <center>
        {% if site.email %}
          <div class="email">
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </div>
        {% endif %}
        {% if site.scholar_id %}
        <a href="https://scholar.google.com/citations?user={{ site.scholar_id }}" target="_blank">
          <i class="ai ai-google-scholar"></i> <!-- Google Scholar Icon -->
        </a>
        {% endif %}
        {% if site.resume %}
        <a href="{{ "/assets/pdfs/" | relative_url | append: site.resume }}" target="_blank">
            <i class="ai ai-cv"></i> <!-- ResearchGate Icon -->
        </a>
        {% endif %}
      </center>
      </header>

      <section id="section-content">
        <div id="page-title">
      <h1>{{ site.title }}</h1>
      {% if site.tagline %}{{ site.tagline | markdownify }}{% endif %}
    </div>     
      {{ content }}
      </section>
    </div>
    <footer>
      Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a>
    </footer>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/collapsible.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/footnote.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/responsive-header.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/links.js" | relative_url }}"></script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
        MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
      });
    </script>    
  </body>
</html>
